*,
*::after,
*::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: #979f97;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d7e3d7;
}

.calculator {
  border-radius: 10px;
  background-color: rgb(235, 240, 240);
  text-align: center;
  border: 1px solid rgba(24, 24, 24, 0.8);
  width: 700px;
}

.calculator_header{
  border-radius: 10px;
  padding-right: 20px;
  background-color: rgb(235, 240, 240);
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.calculator_window{
  padding: 10px;
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
}

.calculator_window::-webkit-scrollbar {
  width: 10px;
}

.calculator_window::-webkit-scrollbar-track {
  background-color: #f9f9fd;
}

.calculator_window::-webkit-scrollbar-thumb {
  background-color: #f2bf93;
}

.calculator_error{
  font-size: 70px;
  text-align: center;
  padding-bottom: 100px;
  color: rgb(158, 13, 13);
  display: none;
}

.caculator_total{
  display: flex;
  justify-content: flex-end;
}

.calculator_result-input{
  font-size: 70px;
  text-align: right;
}

.calculator_operation-input{
  padding-left: 10px;
  font-size: 70px;
  text-align: right;
}

.calculator_number-input{
  font-size: 100px;
  text-align: right;

}

.calculator_body{
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.calculator_item {
  border-radius: 10px;
  display: block;
  background-color: #fff;
  border: 2px solid #000000;
  font-size: 80px;
}

.calculator_item__action{
  background-color: rgb(219, 228, 223);
}

.calculator_item:nth-child(17) {
  grid-column-start: 2;
}

.calculator_item:hover{
  background-color: rgb(218, 218, 218);
}

.calculator_item:active{
  background-color: rgb(205, 205, 205);
}

.calculator_item__clear, .calculator_item__delete, .calculator_item__operation {
  background-color: rgb(230, 230, 230);
}

.calculator_item__calculate{
  background-color: rgb(193, 210, 244);
}

.calculator_item__calculate:hover{
  background-color: rgb(144, 179, 251);
}

.calculator_item__calculate:active{
  background-color: rgb(102, 151, 250);
}

